<div id="books-show">
  <h2>Ruby On Rails Power</h2>
  <div class="books-show-left">
    <%= image_tag('covers/ruby_on_rails_power.jpg') %>
  </div>
  <div class="books-show-right">
    <h3>Book info:</h3>
    <ul>
      <li><strong>Category: </strong> Ruby on Rails</li>
      <li><strong>Author: </strong> Aneesha Bakharia</li>
      <li><strong>Publisher: </strong> Course Technology PTR</li>
      <li><strong>Year: </strong> 2007</li>
      <li><strong>ISBN: </strong> 29893938493849</li>
      <li><strong>Format: </strong> Paperback</li>
      <li><strong>Pages: </strong> 678</li>
    </ul>
    <!-- class:'btn btn-success' makes a green button -->
    <%= link_to "Buy for $5.47", "http://www.ebay.com/p/Ruby-on-Rails-Power-The-Comprehensive-Guide-by-Aneesha-Bakharia-2007-Paperback/50789121?_trksid=p2047675.m4097", class:'btn btn-success', target:'_blank' %>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>Donec sollicitudin nulla efficitur orci volutpat maximus. In eu metus in enim eleifend fermentum sed sed elit. Pellentesque vel ultricies eros, et consequat diam. Curabitur et tincidunt mauris. Etiam et accumsan ex. Duis tristique rhoncus sodales. Morbi quis dictum sapien. Nullam scelerisque ipsum nulla, a fermentum leo pellentesque ut. Aliquam elementum, dolor sed porttitor ultrices, ex tortor tristique ipsum, sit amet pretium turpis lectus condimentum odio. Vivamus ac consequat tellus. Nullam euismod velit nunc. Curabitur quis eros a ante porttitor fermentum at non elit. In nec aliquam metus. Suspendisse aliquet ante quis urna iaculis rutrum. Etiam rutrum dolor enim, porta rutrum turpis vestibulum vitae. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div>
